.pageHeader {
    border: solid 1px rgb(80, 20, 220);
    padding: .5em;
    margin: 0.5em;
    text-align: center;
}
.list {
    display: flex;  
}
.fish_harvest { /* Box for the fish list and descriptors */

}
.list { /* class for "Fish Collection" */
    display: flex;
    flex-wrap: wrap;  /* Let the rows wrap if there are too many */
}
.fish_list {
    display: flex;
    flex-wrap: wrap;
}
.traits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.interest {
    flex-basis: 16%;  /* Make each child element the same width */
    border: 1px dotted crimson;
    padding: 1em;
    margin: 0.5em;
}
}