main {
    display: flex;
    justify-content: center;
}

.pageHeader {
    border: solid 1px rgb(80, 20, 220);
    padding: .5em;
    margin: 0.5em;
    text-align: center;
}

.fish_harvest { /* Box for the fish list and descriptors */
    width: 300px;
    display: flex column;
    border: 3px solid red; 
    padding: 1em;
    margin: 1em;
}

p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}
.fish_list {
    display: flex column;
    flex-wrap: wrap;
}

.fish1 {
    display: flex column;
    border: 3px solid red; 
    padding: 1em;
    margin: 1em;
}

.fish2 {
    display: flex column;
    border: 3px solid red; 
    padding: 1em;
    margin: 1em;
}

.fish3 {
    display: flex column;
    border: 3px solid red; 
    padding: 1em;
    margin: 1em;
}

.traits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.harvest_location {
    width: fit-content;
    display: flex column;
    padding: 2em;
    margin: 1em;
}

.travel_advice {
    display: flex column;
    border: 3px solid rgb(251, 255, 0); 
    padding: 1em;
    margin: 1em;
    width: 300px;
}

.locations {
    display: flex column;
    border: 3px solid rgb(251, 255, 0); 
    padding: 1em;
    margin: 1em;
}

.quotations {
    width: fit-content;
    display: flex column;
    border: 3px solid red; 
    padding: 2em;
    margin: 1em;
    width: 300px;
}